:root {
    --radius-menu: 8px;

    --size-xxxxsmall: 4px;
    --size-xxxsmall: 8px;
    --size-large: 40px;

    --line-margin: 1px;

    --font-size-body: 13px;
    --font-size-code: 13px;

    --monospace: "Cascadia Mono", monospace;

    --text: rgba(253,253,253,1);
    --text-gutter: rgba(59, 58, 72 ,1);
    --text-gutter-active: rgb(176, 179, 194);
    --text-link: #3DA8FF;
    --text-gap: #5a92c2;

    --layer-0: rgba(18, 17, 24, 1);
    --layer-1: rgba(25, 24, 31, 1);
    --layer-2: rgba(42, 41, 52, 1);
    --layer-3: rgba(59, 58, 72, 1);
    --layer-gap: #3a52a228;

    --border-panel: 1px solid rgba(59, 58, 72, 1);
    --border-toolbar-button: 1px solid rgba(77, 76, 91, 1);

    --layer-deletion-rgb: 133, 41, 29;
    --layer-deletion: rgba(var(--layer-deletion-rgb), 0.2);
    --layer-insertion-rgb: 30, 124, 97;
    --layer-insertion: rgba(var(--layer-insertion-rgb), 0.2);
    --span-deletion: rgba(var(--layer-deletion-rgb), 0.8);
    --span-insertion: rgba(var(--layer-insertion-rgb), 0.8);

    background-color: var(--layer-1);
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-body);
}

* {
    color: var(--text)
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

a:hover {
    color: var(--text-link);
}

del {
    all: unset;
    background-color: var(--span-deletion);
}

ins {
    all: unset;
    background-color: var(--span-insertion);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sidebar-container {
    flex: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    height: calc(100% - 2 * var(--size-xxxsmall));
    margin: var(--size-xxxsmall) 0;
    border-radius: 0 var(--radius-menu) var(--radius-menu) 0;
    background-color: var(--layer-2);
    overflow: scroll;
}

ul.sidebar-list {
    list-style-type: none;
    margin: var(--size-xxxsmall);
    padding: var(--size-xxxsmall);
    white-space: nowrap;

    li {
        margin: var(--size-xxxxsmall) 0;
    }
}

.diff-container {
    flex: 6;
    display: block;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
}

.diff-scroll-padding {
    height: 80vh;
}

.file-diff {
    position: relative;
    margin: var(--size-xxxsmall);
    scroll-margin-top: var(--size-xxxsmall);
    border-radius: var(--radius-menu);
    border: var(--border-panel);
    background-color: var(--layer-1);
    overflow: clip;
}

summary.diff-summary {
    position: sticky;
    top: 0;
    height: var(--size-large);
    background-color: var(--layer-2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

summary.diff-summary:focus {
    outline-offset: -3px;
    border-radius: var(--radius-menu);
}

summary.diff-summary::after {
    width: var(--size-large);
    height: var(--size-large);
    content: "\2039";
    font-size: 1.8em;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 120ms transform cubic-bezier(0.1, 0.6, 0.3, 0.3);
    transform: rotate(0deg);
}

details[open] summary.diff-summary:after {
    transform: rotate(-90deg);
}

.diff-spacer {
    width: var(--size-large);
    height: var(--size-large);
}

.diff-header {
    flex: 1;
    height: var(--size-large);
    font-size: var(--font-size-body);
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diff-header-split {
    flex: 1;
    height: var(--size-large);

    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-header-split:nth-child(1) {
    border-right: var(--border-toolbar-button);
}
/* box-sizing: border-box doesn't seem to have any effect on flex layout leading
*  to a 1px misalignement between the border inside the header and the table
*  body. So just add an invisible border to the right header as well. */
.diff-header-split:nth-child(2) {
    border-left: 1px solid transparent;
}

table.diff-area {
    width: 100%;
    border-style: none;
    border-spacing: 0;
    table-layout: fixed;

    td.line-body:nth-child(2) {
        border-right: var(--border-panel);
    }

    td.diff-gap:nth-child(1) {
        border-right: var(--border-panel);
    }
}

tr {
    padding: 0;
    margin: 0;
}

.col-line-gutter {
    width: 4em;
    min-width: 4em;
    max-width: 4em;
}

.col-line-body {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

.diff-line {
    vertical-align: top;
    min-height: calc(1.5em + 2px);
    height: calc(1.5em + 2px);
    line-height: 1.5em;
}

.diff-empty {
    background-color: var(--layer-0)
}

.diff-del {
    background-color: var(--layer-deletion);
}

.diff-add {
    background-color: var(--layer-insertion);
}

.diff-unchanged {}

.diff-gap {
    text-align: center;
    user-select: none;
    font-size: 1.2em;
    background-color: var(--layer-gap);
    color: var(--text-gap)
}

.diff-end {}

.line-gutter {
    font-family: var(--monospace);
    font-size: var(--font-size-code);
    text-align: right;
    user-select: none;
    color: var(--text-gutter-active);
    padding: 0 var(--size-xxxxsmall);
    margin: var(--line-margin) 0;
    border-right: var(--border-panel);
}

.line-gutter.diff-unchanged {
    background-color: var(--layer-1);
    color: var(--text-gutter);
}

.line-body {
    margin: 0;
    padding: 0 var(--size-xxxxsmall);
}

.line-text {
    font-family: var(--monospace);
    font-size: var(--font-size-code);
    display: inline-block;
    vertical-align: baseline;
    white-space: pre-wrap;
    margin: var(--line-margin) 0;
}
